<%- include('../header')%>

    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">All Admins</h4>
                    <div class="ml-auto text-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Library</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- <div class="card-body">
                            <h5 class="card-title m-b-0">Static Table</h5>
                        </div> -->

                       
                        <table class="table table-sm align-middle"
                            style="table-layout: fixed; width:100%; word-wrap: break-word;">

                            <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Category Name</th>
                                    <th>Category Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% category.forEach((category,i)=>{ %>
                                    <tr>
                                        <td>
                                            <%= i+1 %>
                                        </td>
                                        <td class="text-break">
                                            <%= category.categoryName %>
                                        </td>
                                    
                                        <td>
                                            <img src="<%= category.categoryImage %>" class="img-fluid rounded" width="60">
                                        </td>

                                        <td>
                                            <a href="/category/edit-category/<%= category.id %>"
                                                class="btn btn-success btn-sm mb-1">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a href="/category/delete-category/<%= category.id %>" class="btn btn-danger btn-sm  mb-1">
                                                <i class="fas fa-times-circle"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>

                    </div>



                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->

        <%- include('../footer')%>